<!DOCTYPE html>
<!--  <b:bean id ="passwordEncoder" class = "org.springframework.security.crypto.NoOpPasswordEncoder" factory-method = "getInstance" />
-->
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	  layout:decorator="template1">
<head>
<meta charset="UTF-8"/>
<title>Banque</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">Consultation d'un compte</div>
				<div class="panel-body">
					<form th:action="@{/consulterCompte}" method="get">
						<div>
							<label>Code Compte :</label>
							<input type="text" name="codeAccount" th:value="${codeAccount}">
							<button type="submit" class="btn btn-primary">ok</button> 
						</div>
					</form>
					<div class="text-danger" th:if="${exception}" th:text="${exception.message}">
					
					</div>
				</div>
			</div>
			<div class="panel panel-primary" th:if="${compte}">
				<div class="panel-heading">Informations sur le compte</div>
				<div class="panel-body">
					<div>
						<label>Client :</label>
						<label th:text="${compte.customer.name}"></label>
					</div>
					<div>
						<label>Code :</label>
						<label th:text="${compte.codeAcount}"></label>
					</div>
					<div>
						<label>Solde :</label>
						<label th:text="${compte.Balance}"></label>
					</div>
					<div>
						<label>date de création :</label>
						<label th:text="${compte.DateCreation}"></label>
					</div>
					<div>
						<label>Type :</label>
						<label th:text="${compte.class.simpleName}"></label>
					</div>
					<div th:if="${compte.class.simpleName=='CurrentAccount'}">
						<label>Decouvert:</label>
						<label th:text="${compte.decouvert}"></label>
					</div>
					<div th:if="${compte.class.simpleName=='SavingAccount'}">
						<label>Taux:</label>
						<label th:text="${compte.taux}"></label>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-md-6" >
			<div sec:authorize="hasRole('ROLE_ADMIN')">
			<div class="panel panel-primary" th:if="${compte}">
				<div class="panel-heading">Opérations sur le compte</div>
				<div class="panel-body">
					<form th:action="@{/saveOperation}" method="post">
						<div>
							<label>Compte</label>
							<input type="hidden" name="codeAccount" th:value="${codeAccount}"/>
							<label th:text="${codeAccount}"></label>
							
						</div>
						<div>
							<input type="radio" name="typeOperation" value="VERS" checked="checked"
							onchange="document.getElementById('forVirement').style.display='none'"/>
							<label>Versement</label>
							<input type="radio" name="typeOperation" value="RET"
							onchange="document.getElementById('forVirement').style.display='none'"/>
							<label>Retrait</label>
							<input type="radio" name="typeOperation" value="VIR"
							onchange="document.getElementById('forVirement').style.display='block'"/>
							<label>Virement</label>
						</div>
						<div id="forVirement" style="display: none">
							<label>Vers:</label>
							<input type="text" name="codeAccount2" value=0 />
						</div>
						<div>
							<label>Montant:</label>
							<input type="text" name="montant" />
						</div>
						<div class="text-danger" 
							th:text="${#httpServletRequest.getParameter('error')}"></div>
						<button type="submit" class="btn btn-primary">Save</button>
					</form>
				</div>
			</div>
			</div>
			<div class="panel panel-primary" th:if="${compte}">
				<div class="panel-heading">Liste des opérations</div>
				<div class="panel-body">
					<table class="table table-striped">
						<tr>
							<th>Num</th>
							<th>Type</th>
							<th>Date</th>
							<th>Montant</th>
						</tr>
						<tr th:each="o:${listOperations} ">
							<td th:text="${o.NumOp}"></td>
							<td th:text="${o.class.simpleName}"></td>
							<td th:text="${o.DateOperation}"></td>
							<td th:text="${o.Amount}"></td>
						</tr>
					</table>
					<div class="container">
						<ul class="nav nav-pills">
							<li th:each="p,status:${pages}">
								<a th:href="@{/consulterCompte(codeAccount=${codeAccount},page=${status.index})}" th:text="${status.index}"></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</body>
</html>